{{>header}}
{{> gardenSelect}}
{{> gardenGrid}}
<div class='row'>
    <div class='col-md-12 refresh-button'>
        <input type='button' class='btn btn-lg btn-success' onclick='location.reload();' value='Refresh Page' />
        
    </div>
 </div>
 <div class='row'>
    <div class='col-md-12 refresh-button'>
        <a href="/gardens/info" type='button' class='btn btn-lg btn-success'>Help</a>
    </div>
 </div>


{{>footer}}