 <div id="landing-header">
 		<h1>Welcome to Green Helping Hands!</h1>
		<a href="/gardens" class="btn btn-lg btn-success">View Your Garden</a>
    </div>
    
  <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>







</div>