<div class = "gardenRow row">

<div class="col-md-12 grid-container averageMatch">

    <div class="top-row">
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="emptyDiv1()">
        </div>
        <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="emptyDiv2()">
        </div>
    </div>

    <div class="bottom-row">
        <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="emptyDiv3()">          
        </div>
        
        <div id="div4" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="emptyDiv4()">            
        </div>
    </div>
    
    </div>
</div>