<h1 class="howTo-title">How to Permaculture</h1>
<h4>"the development of agricultural ecosystems intended to be sustainable and self-sufficient."</h4>
<div class="howTo-container">


    <div class="howTo">
        <p>1. Select a vegetable</h4>
        <img class="howTo-pic-1" src="/howTo1.jpg">
    </div>

    <div class="howTo">    
        <p>2. Green Helping Hands will calculate the difference between different vegetables. </h4>
        {{!-- <img class="howTo-pic-1" src="/howTo1.jpg"> --}}
    </div>

    <div class="howTo">    
        <p>3. Green Helping Hands will display green for a good match, brown for an OK match and red for any potential issues. </h4>
        {{!-- <img class="howTo-pic-1" src="/howTo1.jpg"> --}}
    </div>
        
</div>

<a href="/gardens" class="btn btn-lg btn-sucess">Back to Garden</a>




